@using CodeGames2017.CustomerRating.WebSite.Models
@model RatingViewModel

@{
    ViewBag.Title = "Customer Ratings";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    <div class="form-group">
        @Html.LabelFor(m => m.RatedBy, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RatedBy, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RatingValue, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RatingValue, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Comment, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

